main.page-main  
  .container
    section.main-content
      .main-content__layout-columns
        .main-content__layout-column.main-content__layout-column--left
          article.post
            figure.post__img
              img(src="../img/content/img-1.jpg")
              figcaption.post__img-description Fashion
            h2.post__title The Best Beauty Looks: Week of October 13, 2015
            p.post__short-content There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words...
            time.post__date(pubdate datetime="2015-12-09") Dec 09<span>/2015</span>
          article.post
            figure.post__img
              img(src="../img/content/img-2.jpg")
              figcaption.post__img-description Audio
            h2.post__title The Best Beauty Looks: Week of October 13, 2015
            p.post__short-content There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words...
            time.post__date(pubdate datetime="2015-12-09") Dec 09<span>/2015</span>
          article.post
            figure.post__img
              img(src="../img/content/img-3.jpg")
              figcaption.post__img-description Make up
            h2.post__title The Best Beauty Looks: Week of October 13, 2015
            p.post__short-content There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words...
            time.post__date(pubdate datetime="2015-12-09") Dec 09<span>/2015</span>
          article.post
            figure.post__img
              img(src="../img/content/img-4.jpg")
              figcaption.post__img-description Beauty
            h2.post__title The Best Beauty Looks: Week of October 13, 2015
            p.post__short-content There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words...
            time.post__date(pubdate datetime="2015-12-09") Dec 09<span>/2015</span>
          article.post
            figure.post__img
              img(src="../img/content/img-5.jpg")
              figcaption.post__img-description Make up
            h2.post__title The Best Beauty Looks: Week of October 13, 2015
            p.post__short-content There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words...
            time.post__date(pubdate datetime="2015-12-09") Dec 09<span>/2015</span>
        .main-content__layout-column.main-content__layout-column--right
          article.post
            figure.post__img
              img(src="../img/content/img-6.jpg")
              figcaption.post__img-description Fashion
            h2.post__title The Best Beauty Looks: Week of October 13, 2015
            p.post__short-content There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words...
            time.post__date(pubdate datetime="2015-12-09") Dec 09<span>/2015</span>
          article.post
            figure.post__img
              img(src="../img/content/img-7.jpg")
              figcaption.post__img-description Fashion
            h2.post__title The Best Beauty Looks: Week of October 13, 2015
            p.post__short-content There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words...
            time.post__date(pubdate datetime="2015-12-09") Dec 09<span>/2015</span>
          article.post
            figure.post__img
              img(src="../img/content/img-8.jpg")
              figcaption.post__img-description Fashion
            h2.post__title The Best Beauty Looks: Week of October 13, 2015
            p.post__short-content There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words...
            time.post__date(pubdate datetime="2015-12-09") Dec 09<span>/2015</span>
          article.post
            figure.post__img
              img(src="../img/content/img-9.jpg")
              figcaption.post__img-description Fashion
            h2.post__title The Best Beauty Looks: Week of October 13, 2015
            p.post__short-content There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words...
            time.post__date(pubdate datetime="2015-12-09") Dec 09<span>/2015</span>
        .main-content__reload
          a.main-content__reload-btn(href="#")            
      aside.sidebar
        article.about-user
          figure.about-user__img
            img(src="../img/content/user-1.jpg")
            figcaption.about-user__img-description About me
          h2.about-user__title Mona-Kim
          p.about-user__content The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum"
          .about-user__follow 
            span Follow
            a.about-user__follow-link(href="ru.linkedin.com")
              +icon("linkedin", 15)
            a.about-user__follow-link(href="twitter.com")
              +icon("twitter", 15)
            a.about-user__follow-link(href="facebook.com")
              +icon("facebook", 15)
        +subscribe("Submit", "Your e-mail...", "POST")
        section.latest-post
          h2.latest-post__title Latest posts
          .latest-post__item
            span.latest-post__item-category Beauty
            h2.latest-post__item-title The Beauty Evolution of Gigi Hadid, from Child Model to Fashion It Girl
            time.latest-post__item-date(pubdate datetime="2015-11-25") Nov 25<span>/2015</span>
          .latest-post__item
            span.latest-post__item-category Fashion
            h2.latest-post__item-title The Which Throwback Girl Group are You and Your Friends?
            time.latest-post__item-date(pubdate datetime="2015-11-25") Nov 25<span>/2015</span>
          .latest-post__item
            span.latest-post__item-category My life
            h2.latest-post__item-title The Your Horoscope For This Week
            time.latest-post__item-date(pubdate datetime="2015-11-25") Nov 25<span>/2015</span>
        section.instagram-widget
          h2.instagram-widget__title Instagram
          .instagram-widget__images
            a.instagram-widget__link(href="#")
                img(src="img/inst/sidebar/inst-1.jpg" width="" height="")
            a.instagram-widget__link(href="#")                
                img(src="img/inst/sidebar/inst-2.jpg" width="" height="")
            a.instagram-widget__link(href="#")                
                img(src="img/inst/sidebar/inst-3.jpg" width="" height="")
            a.instagram-widget__link(href="#")                
                img(src="img/inst/sidebar/inst-4.jpg" width="" height="")
        section.categories
          h2.categories__title Categories
          ul.categories__list
            li.categories__item Decor
            li.categories__item Fashion
            li.categories__item Lifestyle
            li.categories__item Travel
            li.categories__item Mylife
            li.categories__item MakeUp
            li.categories__item Beauty
        section.banner
          a.banner__link
            img(src="img/banner.jpg" href="#")
        section.tags
          h2.tags__title Tags
          ul.tags__list
            li.tags__item
              a.tags__link(href="#") blog
            li.tags__item
              a.tags__link(href="#") fashion
            li.tags__item
              a.tags__link(href="#") gallery
            li.tags__item
              a.tags__link(href="#") happiness
            li.tags__item
              a.tags__link(href="#") bloginspiration
            li.tags__item
              a.tags__link(href="#") lifestyle
            li.tags__item
              a.tags__link(href="#") living
            li.tags__item
              a.tags__link(href="#") love
            li.tags__item
              a.tags__link(href="#") sea
            li.tags__item
              a.tags__link(href="#") story
            li.tags__item
              a.tags__link(href="#") summertime
            li.tags__item
              a.tags__link(href="#") blogtravel
  section.instagram
    h2.instagram__title Instagram    
    .instagram__columns
      .instagram__column.instagram__column--left
        .instagram__img
        .instagram__img.instagram__img--big
        .instagram__img
      .instagram__column.instagram__column--right
        .instagram__img.instagram__img--rectangle
        .instagram__img
        .instagram__img
        .instagram__img
        .instagram__img