-var menuItems = ["About us", "Contact Us", "Site map", "Rss"]
footer.page-footer  
  .page-footer__columns
    .page-footer__column.page-footer__column--left
      .page-footer__copyright 
        p &copy; <span>Vloger</span> 2015.
        p Made with by beautheme.com. All rights Rederved
    .page-footer__column.page-footer__column--right
      nav.page-footer__menu
        ul.page-footer__menu-list
          li.page-footer__menu-item
            a.page-footer__menu-link(href="#!") About us
          li.page-footer__menu-item
            a.page-footer__menu-link(href="#!") Contact Us
          li.page-footer__menu-item
            a.page-footer__menu-link(href="#!") Site map
          li.page-footer__menu-item
            a.page-footer__menu-link(href="#!") Rss