header.page-header
  h1.page__header-title Bologna 
  nav.main-nav
    section.social
      a.social__link
      a.social__link
      a.social__link
      a.social__link
    ul.main-nav__list
      li.main-nav__item
        a.main-nav__link Home
      li.main-nav__item
        a.main-nav__link Posttypes
      li.main-nav__item
        a.main-nav__link Features
      li.main-nav__item
        a.main-nav__link Pages
      li.main-nav__item
        a.main-nav__link Categories
      li.main-nav__item
        a.main-nav__link Contact
    .search
      form.search__form
        input.search__field
  .container
    .slider
      .slider__item
        button.slider__item-btn My Life
        p.slider__item-description These Beauty Queens Are Fighting For Transgender Rights