main.page-main  
  .container
    section.main-content
      .main-content__layout-columns
        .main-content__layout-column.main-content__layout-column--left
          article.post
            figure.post__img
              img(src="../img/content/img-1.jpg")
              figcaption.post__img-description Fashion
            h2.post__title The Best Beauty Looks: Week of October 13, 2015
            p.post__short-content There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words...
            time.post__date(pubdate datetime="2015-12-09") Dec 09<span>/2015</span>
          article.post
            figure.post__img
              img(src="../img/content/img-2.jpg")
              figcaption.post__img-description Audio
            h2.post__title The Best Beauty Looks: Week of October 13, 2015
            p.post__short-content There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words...
            time.post__date(pubdate datetime="2015-12-09") Dec 09<span>/2015</span>
          article.post
            figure.post__img
              img(src="../img/content/img-3.jpg")
              figcaption.post__img-description Make up
            h2.post__title The Best Beauty Looks: Week of October 13, 2015
            p.post__short-content There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words...
            time.post__date(pubdate datetime="2015-12-09") Dec 09<span>/2015</span>
          article.post
            figure.post__img
              img(src="../img/content/img-4.jpg")
              figcaption.post__img-description Beauty
            h2.post__title The Best Beauty Looks: Week of October 13, 2015
            p.post__short-content There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words...
            time.post__date(pubdate datetime="2015-12-09") Dec 09<span>/2015</span>
          article.post
            figure.post__img
              img(src="../img/content/img-5.jpg")
              figcaption.post__img-description Make up
            h2.post__title The Best Beauty Looks: Week of October 13, 2015
            p.post__short-content There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words...
            time.post__date(pubdate datetime="2015-12-09") Dec 09<span>/2015</span>
        .main-content__layout-column.main-content__layout-column--right
          article.post
            figure.post__img
              img(src="../img/content/img-6.jpg")
              figcaption.post__img-description Fashion
            h2.post__title The Best Beauty Looks: Week of October 13, 2015
            p.post__short-content There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words...
            time.post__date(pubdate datetime="2015-12-09") Dec 09<span>/2015</span>
          article.post
            figure.post__img
              img(src="../img/content/img-7.jpg")
              figcaption.post__img-description Fashion
            h2.post__title The Best Beauty Looks: Week of October 13, 2015
            p.post__short-content There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words...
            time.post__date(pubdate datetime="2015-12-09") Dec 09<span>/2015</span>
          article.post
            figure.post__img
              img(src="../img/content/img-8.jpg")
              figcaption.post__img-description Fashion
            h2.post__title The Best Beauty Looks: Week of October 13, 2015
            p.post__short-content There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words...
            time.post__date(pubdate datetime="2015-12-09") Dec 09<span>/2015</span>
          article.post
            figure.post__img
              img(src="../img/content/img-9.jpg")
              figcaption.post__img-description Fashion
            h2.post__title The Best Beauty Looks: Week of October 13, 2015
            p.post__short-content There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words...
            time.post__date(pubdate datetime="2015-12-09") Dec 09<span>/2015</span>
        .main-content__reload
          a.main-content__reload-btn(href="#")            
      aside.sidebar
        article.about-user
          figure.about-user__img
            img(src="../img/content/user-1.jpg")
            figcaption.about-user__img-description About me
          h2.about-user__title Mona-Kim
          p.about-user__content The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum"
          .about-user__follow 
            span Follow
            a.about-user__follow-link(href="ru.linkedin.com")
              +icon("linkedin", 15)
            a.about-user__follow-link(href="twitter.com")
              +icon("twitter", 15)
            a.about-user__follow-link(href="facebook.com")
              +icon("facebook", 15)
        +subscribe("Submit", "Your e-mail...", "POST")