.logo {
  text-align: center;
  padding: 45px 0 0;
  border-bottom: 4px solid #fefefe;
  margin-bottom: 40px;
  &__description {
    margin: 0;
    color: @text-color;
    text-transform: uppercase;
    .font-size(12px);
    line-height: 1.1;
    font-weight: bold;
  }
  &__link {
    display: inline-block;
    vertical-align: middle;
  }
}