.page-footer {  
  &__columns {
    .clearfix();    
  }
  &__column {
    padding-top: 60px;
    width: 45.31%;
    min-height: 120px;
    @media @tablet {
      padding-top: 10px;
      min-height: 100px;
    }

    &--left {
      float: left;
      padding-left: 4.68%;
      background-color: #f7f7f7;
      text-align: right;
      @media @tablet {

      }
 
    }
    &--right {
      float: right;
      padding-left: 4.68%;
      background-color: #ededeb;
      @media @tablet {

      }

    }
  }
  &__copyright {
    .font-size(13px);
    line-height: 1.3;
    color: @text-color;
    @media @tablet {
      text-align: left;

    } 
    p {
      margin: 0;
      margin-bottom: 20px;
    }
    span {
      text-transform: uppercase;
    }
  }
  &__menu {
    &-list {      
      margin: 0;
      padding: 0;
      list-style: none;
      .clearfix();
    }
    &-item {
      float: left;
      margin-right: 4.08%;
      .font-size(13px);
      line-height: 1.3;
      text-transform: uppercase;
      @media @tablet {
        float: none;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
    &-link {
      color: @text-color;
      transition: 0.2s;
      &:hover {
        color: darken(@text-color, 20%);
      }
    }
  }
}
.btnToTop {
  text-align: center;
  display: none;
  position: fixed;  
  right: 5%;
  bottom: 5%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  background-color: #252850;
  transition: 0.2s ease-in;
  &--show {
    display: block;
  }
  &:hover {
    background-color: lighten(#252850, 20%);
  }
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -5px;
    margin-left: -5px;
  }
}