extends templates/layout
include templates/mixins

block main
  svg(style="display: none;" xmlns="http://www.w3.org/2000/svg")
    symbol(id="icon-comment" viewBox="0 0 76 76")
      path(d="M74,4.992H2c-1.1,0-2,0.9-2,2v48c0,1.1,0.9,2,2,2h16v12c0,1.8,2.1,2.7,3.4,1.4l13.6-13.4h39c1.1,0,2-0.9,2-2 v-48C76,5.892,75.1,4.992,74,4.992z M72,52.992H34.2c-0.5,0-1,0.2-1.4,0.6L22,64.192v-9.2c0-1.1-0.9-2-2-2H4v-44h68V52.992z")
    symbol(id="icon-twitter" viewBox="0 0 512.002 512.002")
      path(d="M512.002,97.211c-18.84,8.354-39.082,14.001-60.33,16.54c21.686-13,38.342-33.585,46.186-58.115 c-20.299,12.039-42.777,20.78-66.705,25.49c-19.16-20.415-46.461-33.17-76.674-33.17c-58.011,0-105.042,47.029-105.042,105.039 c0,8.233,0.929,16.25,2.72,23.939c-87.3-4.382-164.701-46.2-216.509-109.753c-9.042,15.514-14.223,33.558-14.223,52.809 c0,36.444,18.544,68.596,46.73,87.433c-17.219-0.546-33.416-5.271-47.577-13.139c-0.01,0.438-0.01,0.878-0.01,1.321 c0,50.894,36.209,93.348,84.261,103c-8.813,2.399-18.094,3.687-27.674,3.687c-6.769,0-13.349-0.66-19.764-1.888 c13.368,41.73,52.16,72.104,98.126,72.949c-35.95,28.176-81.243,44.967-130.458,44.967c-8.479,0-16.84-0.496-25.058-1.471 c46.486,29.807,101.701,47.197,161.021,47.197c193.211,0,298.868-160.062,298.868-298.872c0-4.554-0.104-9.084-0.305-13.59 C480.111,136.775,497.92,118.275,512.002,97.211z")
    symbol(id="icon-share" viewBox="0 0 441.121 441.121")
      path(d="M376.677,171.954h-71.967c-9.35,0-17,7.65-17,17s7.65,17,17,17h54.683v201.167H81.727V205.954h60.35c9.35,0,17-7.65,17-17 s-7.65-17-17-17H64.444c-9.35,0-16.717,8.5-16.717,17.85v235.733c0,9.35,7.367,15.583,16.717,15.583h312.233 c9.35,0,16.717-6.233,16.717-15.583V189.804C393.394,180.454,386.027,171.954,376.677,171.954z")
      path(d="M217.727,299.454c9.35,0,17-7.65,17-17V52.104l72.533,64.6c3.117,2.833,7.367,4.25,11.333,4.25 c4.817,0,9.35-1.983,12.75-5.667c6.233-7.083,5.667-17.85-1.417-24.083l-97.75-86.983c-6.233-5.383-15.3-5.667-21.817-0.567 c-3.117,1.417-5.667,3.967-7.367,6.8l-84.717,81.317c-6.8,6.517-7.083,17.283-0.567,24.083c6.517,6.8,17.283,7.083,24.083,0.567 l58.933-56.667v222.7C200.727,291.804,208.377,299.454,217.727,299.454z")
  +icon(123)
  +icon(comet, red)
  include includes/page-header
  include includes/page-main
  include includes/page-footer